* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     ;
}

body {
    height: 100vh;
    display: flex;
    background: #060AB2;
    background-image:url(img/ceu.svg)
}
  
.game {
    width: 760px;
    height: 760px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
  
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    
}
  
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotatey(180deg);
}
  
.front-face,
.back-face {
    width: 180px;
    height: 240;
    padding: 0px;
    position: absolute;
    border-radius: 15px;
    background: #1C7CCC;
    backface-visibility: hidden;
    border: solid 3px black;
    box-sizing: border-box;
}

.front-face {
    transform: rotateY(180deg);
}
  